body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    margin: 0 ;
  
    display: flex;
    justify-content: center ;   
    align-items: center;    
    min-height: 100vh;
    
}

.container {

margin: 5rem 1rem 5rem 1rem;  

    
}

.sedans, .SUV, .Luxury {
    padding: 2rem;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.SUV {
    background-color: hsl(184, 100%, 22%);
    
   
}

.Luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.attribution { 
        font-size: 11px; text-align: center; 
    }

.attribution a {
         color: hsl(228, 45%, 44%); 
 }

p {
    color: hsla(0, 0%, 100%, 0.75);
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

button {

    background-color: hsl(0, 0%, 95%);
    width: 50%;
   border-radius: 50px;
    border: none;

    height: 2.5rem;
    
}

.sedans button {
    color: hsl(31, 77%, 52%);
}

.SUV button {
    color: hsl(184, 100%, 22%);
}   

.Luxury button {
    color: hsl(179, 100%, 13%);
}

@media (min-width: 576px, max-width: 768px) {
    .container {
        margin: 5rem 5rem 5rem 5rem;
    }
}