body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    margin: 0 ;
  
    display: flex;
    justify-content: center ;   
    align-items: center;    
    flex-direction: column;
    min-height: 100vh;
    
}

.container {
margin: 5rem 1rem 5rem 1rem;  
}

.sedans, .SUV, .Luxury {
    padding: 2rem;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.SUV {
    background-color: hsl(184, 100%, 22%);
}

.Luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.attribution { 
        font-size: 11px; text-align: center; 
    }

.attribution a {
         color: hsl(228, 45%, 44%); 
 }

p {
    color: hsla(0, 0%, 100%, 0.75);
}

h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

button {

    background-color: hsl(0, 0%, 95%);
    width: 50%;
   border-radius: 50px;
    border: none;

    height: 2.5rem;
    
}

.icon {
    width: fit-content;
}

.sedans button {
    color: hsl(31, 77%, 52%);
}

.sedans button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%); 

}


.SUV button {
    color: hsl(184, 100%, 22%);
}   

.SUV button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%); 
}

.Luxury button {
    color: hsl(179, 100%, 13%);
}

.Luxury button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%); 
}



  @media (min-width: 768px)  {

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

.sedans {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
}

.Luxury {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
}

.sedans, .SUV, .Luxury {
    padding: 1.5rem;
}

  }
  
  

